
@import url('https://fonts.googleapis.com/css?family=Oswald:500');
.back{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*background:url() no-repeat top center #efeff1;*/
  background-size:cover;
}

.thx{
  position: relative;
  left:50%;
  transform:translateX(-50%);
  bottom: 15px;
}
nav{
  width: 100%;
  position: relative;
  top:80px;
  text-align:center;
}
nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:100;
  text-transform:uppercase;
  text-decoration:none;
  color: #f3f3f3;
  margin:0 15px;
  font-size:26px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}
nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#d4a470;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}){
    animation:show .2s #{$i*0.1+1}s ease 1 both;
  }
}

html,
body{
  height: 100%;
  background-color: #111111;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.glide__slide {
  max-height: 460px;
}

.glide__slide img {
  width: 100%;
}

.container--apresentacao {
  display:flex;
}

.container--apresentacao img {
  width: 100vh;
}